.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #f3f4f6;
  text-align: center;
  background-color: #111827;
}

button {
  background-color: #e8eb5b;
  color: #1e1f21;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  font-family: 'Roboto Mono', monospace;
}

button:hover {
  background-color: #767676;
  color: #1e1f21;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #162336;
  padding-bottom: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100%;
  border-radius: 0.25rem;
}

.item > h4 {
  color: #f3f4f6;
  font-weight: 700;
  text-align: left;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0;
  margin: 20px 0 5px 0;
}

.item > textarea,
.item > .markdown {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  min-height: 500px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #393e48;
  resize: none;
  background-color: #1f2937;
  color: #f3f4f6;
}

textarea,
.markdown {
  padding: 10px;
}

.markdown > h1,
.markdown > h2 {
  border-bottom: 0.5px solid #898989;
}

p > a,
p > a:visited {
  color: #d85beb;
  text-decoration: none;
}

p > a:hover {
  color: #767676;
  text-decoration: none;
}
textarea:focus,
.markdown:focus {
  outline: none;
  border-color: #bfbfbf;
  background-color: #222c39;
}

.markdown {
  font-family: 'Arial', Courier, monospace;
}
p > img {
  width: 150px;
}

.item > a {
  color: #f3f4f6;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

@media (min-width: 600px) {
  .box {
    flex-direction: row;
  }
  .item {
    width: 50%;
  }
  .item > textarea,
  .item > .markdown {
    min-height: 100vh;
  }
}
